{% extends "layout.html" %}
{% block content %}
<h2>Editar Usuario</h2>

<form method="post" action="{{ url_for('routes_users.update_user', id=user.id) }}">
    <label>Nombre de usuario</label>
    <input type="text" name="username" value="{{ user.username }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ user.email }}" required>

    <label>Contraseña</label>
    <input type="password" name="password" value="{{ user.password }}" required>

    <label>Rol</label>
    <select name="role" required>
        <option value="user" {% if user.role=='user' %}selected{% endif %}>Usuario</option>
        <option value="admin" {% if user.role=='admin' %}selected{% endif %}>Administrador</option>
    </select>

    <button type="submit">Guardar cambios</button>
    <a href="{{ url_for('routes_users.get_users') }}">Cancelar</a>

</form>
{% endblock %}