{% extends "layout.html" %}
{% block content %}
<h2>Lista de Usuarios</h2>
<a class="btn create" href="{{ url_for('routes_users.register') }}">Registrar nuevo usuario</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Password</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>
                <a class="btn edit" href="{{ url_for('routes_users.edit_user', id=user.id) }}">Editar</a>
                <a class="btn delete" href="{{ url_for('routes_users.delete_user', id=user.id) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}